meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Lingüística y comunicación en la LSC y español
meta(meta name="description" content="Este segundo componente formativo explica los aspectos generales que todo intérprete de lengua de señas colombiana debe tener en cuenta sobre la lingüística, enfocada a las lenguas de señas, su función, modelos, enfoques sociolingüísticos y psicolingüísticos. Además de conocer las lenguas de señas diacrónicamente hablando, también se aclaran los términos de fonética, fonología, morfología, sintaxis, lexicografía y semántica de la lengua de señas y el español escrito. Finalmente se enuncian algunos aspectos generales de la comunicación y cómo el lenguaje es el vehículo para entenderla; así como las técnicas de expresión del discurso y los métodos para la atención y la concentración que tanto necesita el intérprete para su ejercicio.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")