.container
    .header-ecored
        h1 1. Aspectos generales de la lingüística y comunicación
    .jumbotron.bg-white
        .sub-ecored#11 
            h2 1.1	Definición y evolución
        p.mb-5 De acuerdo con Burad (2010), el proceso de interpretación en lengua de señas colombiana (por sus siglas LSC), surgió para cubrir una necesidad de carácter lingüístico y cultural en el contexto global, es decir, para posibilitar la comunicación entre personas sordas usuarias de la lengua de señas y personas oyentes que no conocen dicha lengua. Aunque existen diferentes definiciones, en general, la lingüística es la disciplina científica que se encarga de investigar el comienzo, evolución y disposición del lenguaje que se utiliza para comprender o transmitir un mensaje. El objetivo de la lingüística implica la formulación de una teoría general de las lenguas naturales y del sistema cognitivo que las hace posibles.        

        a(href="media/documentos/ANEXO_3_Comparacion_de_estrategias_para_la_traduccion.pdf" target="_blank").media-link      

            img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

            .media-link-title
                p Ateridad Sorda, Burad (2010).

        .jumbotron.mt-5.bg-1
            .row.justify-content-center.align-items-center
                .col-auto 
                    img.img-a(src="assets/images/pages/ilustraciones/img2.png").img-fluid 

                .col
                    p El estudio lingüístico se puede dividir en un conjunto de campos o niveles, dependiendo de qué aspecto específico del lenguaje resulte del interés particular:
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top La fonética y la fonología.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top La morfosintaxis.
                    .list
                        .list__item
                            .list__item__icon
                                img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                        .list__txt    
                            p.m-top La semántica y la pragmática.

        a(href="media/documentos/ANEXO_3_Comparacion_de_estrategias_para_la_traduccion.pdf" target="_blank").media-link      

            img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

            .media-link-title
                p Herrera y Alvarado (2007).

        
            
        .row.justify-content-center.align-items-center.mt-5
            .col
                p.mb-0 Como ocurre con las lenguas orales, en cada país, las personas sordas tienen una lengua de señas con su propia historia y evolución, una estructura gramatical y elementos sociolingüísticos con sus reglas comunicativas, pero con variedades lingüísticas, como pasa con las lenguas orales. La llamada lingüística histórica (o lingüística diacrónica, comparativa o comparada) es la disciplina de la lingüística que se encarga de estudiar el cambio de las lenguas a través del tiempo y el proceso del cambio lingüístico, ocupando un lugar destacado en el estudio diacrónico de las lenguas.  
            .col-auto 
                img.img-a(src="assets/images/pages/ilustraciones/img2_1.png").img-fluid 

        .jumbotron.jumbo-border.mt-5.bg-2.py-0.color-1
            .row.justify-content-center.align-items-center.bg-2.color-1
                .col-auto 
                    img.img-a.j-left(src="assets/images/pages/ilustraciones/img4.png").img-fluid 

                .col
                    p.py-4.mb-0 A continuación, se realizará una breve aproximación desde la historia que ha incluido el estudio de las lenguas de señas, utilizadas y estudiadas por comunidades sordas y oyentes en el mundo: 

        #carouselExampleIndicators.carousel.slide.mt-5(data-interval='false')
            ol.carousel-indicators
                li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                li(data-target='#carouselExampleIndicators', data-slide-to='1')
                li(data-target='#carouselExampleIndicators', data-slide-to='2')
                li(data-target='#carouselExampleIndicators', data-slide-to='3')
                li(data-target='#carouselExampleIndicators', data-slide-to='4')
                li(data-target='#carouselExampleIndicators', data-slide-to='5')
                li(data-target='#carouselExampleIndicators', data-slide-to='6')                
                li(data-target='#carouselExampleIndicators', data-slide-to='7')                
                li(data-target='#carouselExampleIndicators', data-slide-to='8')                
                li(data-target='#carouselExampleIndicators', data-slide-to='9')                
                li(data-target='#carouselExampleIndicators', data-slide-to='10')                
                li(data-target='#carouselExampleIndicators', data-slide-to='11')                
                li(data-target='#carouselExampleIndicators', data-slide-to='12')                
                li(data-target='#carouselExampleIndicators', data-slide-to='13')                
                li(data-target='#carouselExampleIndicators', data-slide-to='14')                
                li(data-target='#carouselExampleIndicators', data-slide-to='15')                
                li(data-target='#carouselExampleIndicators', data-slide-to='16')                
                li(data-target='#carouselExampleIndicators', data-slide-to='17')                
                li(data-target='#carouselExampleIndicators', data-slide-to='18')                
                li(data-target='#carouselExampleIndicators', data-slide-to='19')                
                li(data-target='#carouselExampleIndicators', data-slide-to='20')                
                li(data-target='#carouselExampleIndicators', data-slide-to='21')                
                li(data-target='#carouselExampleIndicators', data-slide-to='22')                


            .carousel-inner
                .carousel-item.active
                    .jumbotron.bg-3.px-4
                        .row.justify-content-center.align-items-center
                            .col-10 
                                h2.text-center 1750ª.E.C simultánea 
                                img.img-a.mt-3(src="assets/images/pages/ilustraciones/img44.png").img-fluid                                 
                                .row.justify-content-center.align-items-center.mt-5
                                    .col-auto 
                                        img.img-a(src="assets/images/pages/ilustraciones/img5.png").img-fluid 
                                    .col                                        
                                        p.mb-0 El Código de Hammurabi fue creado en la antigua Mesopotamia donde aparece por primera vez el término erróneo sordomudo.
                .carousel-item
                    .jumbotron.bg-3.px-4
                        .row.justify-content-center.align-items-center
                            .col-10 
                                h2.text-center Siglo III a. E.C. 
                                img.img-a.mt-3(src="assets/images/pages/ilustraciones/img44.png").img-fluid  
                                .row.justify-content-center.align-items-center.mt-5
                                    .col-auto 
                                        img.img-a(src="assets/images/pages/ilustraciones/img6.png").img-fluid 
                                    .col                                        
                                        p.mb-0 Los padres cometían infanticidio, es decir, mataban a los hijos que nacían con algún tipo de discapacidad, incluidas las personas sordas. Se creía que los sordos y las personas con retraso mental eran iguales. 
                .carousel-item
                    .jumbotron.bg-3.px-4
                        .row.justify-content-center.align-items-center
                            .col-10  
                                h2.text-center Siglo IV 
                                img.img-a.mt-3(src="assets/images/pages/ilustraciones/img44.png").img-fluid  
                                .row.justify-content-center.align-items-center.mt-5
                                    .col-auto 
                                        img.img-a(src="assets/images/pages/ilustraciones/img7.png").img-fluid 
                                    .col                                                   
                                        p.mb-0 Aristóteles dijo que la persona ciega “puede ser mejor instruida que el sordo”, afirmando que los sordos estaban incapacitados para comunicarse y pensar por sí mismos. Y agregó que no podían pronunciar palabras. 
                .carousel-item
                    .jumbotron.bg-3.px-4
                        .row.justify-content-center.align-items-center
                            .col-10  
                                h2.text-center Año 27
                                img.img-a.mt-3(src="assets/images/pages/ilustraciones/img44.png").img-fluid  
                                .row.justify-content-center.align-items-center.mt-5
                                    .col-auto 
                                        img.img-a(src="assets/images/pages/ilustraciones/img8.png").img-fluid 
                                    .col                                        
                                        p.mb-0 En Roma arrojaban a los niños sordos en el río Tíber o los vendían como esclavos. 
                .carousel-item
                    .jumbotron.bg-3.px-4
                        .row.justify-content-center.align-items-center
                            .col-10  
                                h2.text-center Siglo III
                                img.img-a.mt-3(src="assets/images/pages/ilustraciones/img44.png").img-fluid  
                                .row.justify-content-center.align-items-center.mt-5
                                    .col-auto 
                                        img.img-a(src="assets/images/pages/ilustraciones/img9.png").img-fluid 
                                    .col                                        
                                        p.mb-0 En la obra hebrea El Talmud, se establece que el sordo no puede estar en una categoría inferior y que puede instruirse.   

                .carousel-item
                    .jumbotron.bg-3.px-4
                        .row.justify-content-center.align-items-center
                            .col-10
                                h2.text-center 322 E.C.  
                                img.img-a.mt-3(src="assets/images/pages/ilustraciones/img44.png").img-fluid  
                                .row.justify-content-center.align-items-center.mt-5
                                    .col-auto 
                                        img.img-a(src="assets/images/pages/ilustraciones/img10.png").img-fluid 
                                    .col 
                                        p.mb-0 San Agustín de Hipona afirmó que los sordos no podían alcanzar la salvación divina, que nacían sordos por culpa de la ira de Dios y los pecados de sus padres.  

                .carousel-item
                    .jumbotron.bg-3.px-4
                        .row.justify-content-center.align-items-center
                            .col-10  
                                h2.text-center Año 340
                                img.img-a.mt-3(src="assets/images/pages/ilustraciones/img44.png").img-fluid  
                                .row.justify-content-center.align-items-center.mt-5
                                    .col-auto 
                                        img.img-a(src="assets/images/pages/ilustraciones/img11.png").img-fluid 
                                    .col                                         
                                        p.mb-0 El estudioso del latín San Jerónimo de Estridón dijo que a los sordos se les podía enseñar de la biblia por medio de mímica

                .carousel-item
                    .jumbotron.bg-3.px-4
                        .row.justify-content-center.align-items-center
                            .col-10  
                                h2.text-center Año 400                                
                                img.img-a.mt-3(src="assets/images/pages/ilustraciones/img44.png").img-fluid  
                                .row.justify-content-center.align-items-center.mt-5
                                    .col-auto 
                                        img.img-a(src="assets/images/pages/ilustraciones/img12.png").img-fluid 
                                    .col 
                                        p.mb-0 La iglesia católica estableció que las personas sordas no podían tener derecho a las herencias, no debían casarse ni ir a la iglesia. 

                .carousel-item
                    .jumbotron.bg-3.px-4
                        .row.justify-content-center.align-items-center
                            .col-10  
                                h2.text-center Año 1252
                                img.img-a.mt-3(src="assets/images/pages/ilustraciones/img44.png").img-fluid  
                                .row.justify-content-center.align-items-center.mt-5
                                    .col-auto 
                                        img.img-a(src="assets/images/pages/ilustraciones/img13.png").img-fluid 
                                    .col                                         
                                        p.mb-0 Alfonso X, llamado comúnmente en España El Sabio, establece el código de las 7 partidas para regular los derechos de las personas sordas relacionadas con el tema del matrimonio. Además, hace una distinción entre sordomudo, sordo de nacimiento y sordo por enfermedad.  

                .carousel-item
                    .jumbotron.bg-3.px-4
                        .row.justify-content-center.align-items-center
                            .col-10  
                                h2.text-center Año 1453
                                img.img-a.mt-3(src="assets/images/pages/ilustraciones/img44.png").img-fluid  
                                .row.justify-content-center.align-items-center.mt-5
                                    .col-auto 
                                        img.img-a(src="assets/images/pages/ilustraciones/img14.png").img-fluid 
                                    .col                                         
                                        p.mb-0 A los sordos se les consideraba embrujados y debían morir en la hoguera o apedreados. Si alcanzaban la oralidad, podían ejercer el derecho a heredar sus tierras.  

                .carousel-item
                    .jumbotron.bg-3.px-4
                        .row.justify-content-center.align-items-center
                            .col-10  
                                h2.text-center Año 1521
                                img.img-a.mt-3(src="assets/images/pages/ilustraciones/img44.png").img-fluid  
                                .row.justify-content-center.align-items-center.mt-5
                                    .col-auto 
                                        img.img-a(src="assets/images/pages/ilustraciones/img15.png").img-fluid 
                                    .col                                         
                                        p.mb-0 El humanista Rudolf Agrícola dijo que los sordos podían comunicarse por medio de la escritura. Pensaba que hablar y escuchar estaban separadas entre sí.  

                .carousel-item
                    .jumbotron.bg-3.px-4
                        .row.justify-content-center.align-items-center
                            .col-10  
                                h2.text-center Año 1620
                                img.img-a.mt-3(src="assets/images/pages/ilustraciones/img44.png").img-fluid  
                                .row.justify-content-center.align-items-center.mt-5
                                    .col-auto 
                                        img.img-a(src="assets/images/pages/ilustraciones/img16.png").img-fluid 
                                    .col                                         
                                        p.mb-0 Ponce de León es conocido como el primer educador de sordos del mundo, aunque tuvo predecesores como Fray Vicente. Les enseñó a escribir señalando con el dedo objetos o dibujos del alfabeto manual. Este maestro e intérprete oralizaba sordos de familias nobles. Es junto con Juan Pablo Bonet uno de los personajes más influyentes de la historia de la lingüística de la lengua de señas. Este pedagogo y logopeda quería descubrir los secretos del habla para conseguir la lectoescritura en los sordos. Su obra: Reducción de las letras y Arte para enseñar a hablar los Mudos (1620), proscribe los lenguajes mímicos. Conocido como el padre de los sordos de bajos recursos. No reconocían su lengua natural digna de estudio. Fue la “edad de oro” de los sordos. Después del siglo XVIII los educadores sordos empezaron a utilizarla. 

                .carousel-item
                    .jumbotron.bg-3.px-4
                        .row.justify-content-center.align-items-center
                            .col-10  
                                h2.text-center Año 1779
                                img.img-a.mt-3(src="assets/images/pages/ilustraciones/img44.png").img-fluid  
                                .row.justify-content-center.align-items-center.mt-5
                                    .col-auto 
                                        img.img-a(src="assets/images/pages/ilustraciones/img17.png").img-fluid 
                                    .col                                         
                                        p.mt-5 Desloges fue el primer sordo que publicó un libro y argumentó que sin la lengua de señas no sería posible educar a los sordos.
                                        a(href="ANEXO_6_El profesional_interprete_Historia_de_la_interpretacion.pdf" target="_blank")     
                                            .container-img
                                                img.img-a.image(src="assets/images/pages/ilustraciones/img17_1.png").img-fluid

                .carousel-item
                    .jumbotron.bg-3.px-4
                        .row.justify-content-center.align-items-center
                            .col-10  
                                h2.text-center Año 1795
                                img.img-a.mt-3(src="assets/images/pages/ilustraciones/img44.png").img-fluid  
                                .row.justify-content-center.align-items-center.mt-5
                                    .col-auto 
                                        img.img-a(src="assets/images/pages/ilustraciones/img18.png").img-fluid 
                                    .col 
                                        p.mt-5 Hervás y Panduro, lingüista y filólogo español conocido como el padre de la lingüística comparada, fundó la Escuela Municipal de Sordomudos. Su tratado supone un hito en el esfuerzo lingüístico para integrar a las personas sordas.  
                                        a(href="ANEXO_7_LaIncreible_y_Triste_Historia_De_LaInterpretacion_DeLeng_5278430.pdf" target="_blank")     
                                            .container-img
                                                img.img-a.image(src="assets/images/pages/ilustraciones/img18_1.png").img-fluid                                          

                .carousel-item
                    .jumbotron.bg-3.px-4
                        .row.justify-content-center.align-items-center
                            .col-10  
                                h2.text-center Año 1832
                                img.img-a.mt-3(src="assets/images/pages/ilustraciones/img44.png").img-fluid  
                                .row.justify-content-center.align-items-center.mt-5
                                    .col-auto 
                                        img.img-a(src="assets/images/pages/ilustraciones/img19.png").img-fluid 
                                    .col                                         
                                        p.mt-5 Se equiparaba la comunicación de las personas sordas con la comunidad oyente. En su obra “La mímica antigua en la investigación de los gestos napolitanos”, el lingüista De Jorio estudió, clasificó y describió los gestos. Este congreso generó consecuencias negativas en la historia de la educación de los sordos. Centraron la educación en el oralismo y prohibieron la lengua de señas, ideología extendida en muchos países hasta el día de hoy.
                                        p.mb-0 En este mismo año se tomó la decisión de excluir a los maestros sordos de las escuelas precisamente para que los maestros oyentes enfatizaran el habla. Un gran obstáculo para la lingüística de la lengua de señas.  

                .carousel-item
                    .jumbotron.bg-3.px-4
                        .row.justify-content-center.align-items-center
                            .col-10  
                                h2.text-center Año 1923
                                img.img-a.mt-3(src="assets/images/pages/ilustraciones/img44.png").img-fluid  
                                .row.justify-content-center.align-items-center.mt-5
                                    .col-auto 
                                        img.img-a(src="assets/images/pages/ilustraciones/img20.png").img-fluid 
                                    .col                                                                     
                                        p.mb-0 Comunidades religiosas iniciaron procesos educativos en Colombia con métodos oralistas del congreso de Milán. Por ejemplo, en Medellín con la I.E. Francisco Luis Hernández Betancur (1943) y en Bogotá con el I. de Nuestra Señora de la Sabiduría (1986).  

                .carousel-item
                    .jumbotron.bg-3.px-4
                        .row.justify-content-center.align-items-center
                            .col-10  
                                h2.text-center Año 1951
                                img.img-a.mt-3(src="assets/images/pages/ilustraciones/img44.png").img-fluid  
                                .row.justify-content-center.align-items-center.mt-5
                                    .col-auto 
                                        img.img-a(src="assets/images/pages/ilustraciones/img21.png").img-fluid 
                                    .col                                         
                                        p.mb-0 DMA es una de las organizaciones internacionales sobre discapacidad más antiguas del mundo. Al primer congreso que se realizó solo asistieron 25 asociaciones de sordos, en el último asistieron 125 países.  

                .carousel-item
                    .jumbotron.bg-3.px-4
                        .row.justify-content-center.align-items-center
                            .col-10 
                                h2.text-center Año 1959 
                                img.img-a.mt-3(src="assets/images/pages/ilustraciones/img44.png").img-fluid  
                                .row.justify-content-center.align-items-center.mt-5
                                    .col-auto 
                                        img.img-a(src="assets/images/pages/ilustraciones/img22.png").img-fluid 
                                    .col                                         
                                        p.mb-0 Las Naciones Unidas y la Organización Mundial de la Salud le otorgan el estatus consultivo a la DMA para trabajar en conjunto y presentar sus puntos de vista como comunidad lingüística. 

                .carousel-item
                    .jumbotron.bg-3.px-4
                        .row.justify-content-center.align-items-center
                            .col-10  
                                h2.text-center Año 1959
                                img.img-a.mt-3(src="assets/images/pages/ilustraciones/img45.png").img-fluid  
                                .row.justify-content-center.align-items-center.mt-5
                                    .col-auto 
                                        img.img-a(src="assets/images/pages/ilustraciones/img23.png").img-fluid 
                                    .col                                         
                                        p.mb-0 El lingüista Stokoe demostró que las lenguas de señas son lenguas naturales con rasgos lingüísticos como cualquier otra, con un código y un sistema de comunicación. En aquel tiempo los lingüistas aún no se interesaban en las lenguas de señas        
                                                                            
            a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next  

        .sub-ecored.mt-5#12 
            h2 1.2 Funciones de la lingüística
        p La lingüística está a la orden del día de todos los seres vivos que se comunican. Un simple saludo, la lectura de un libro o de la pantalla del celular, un recuerdo, una canción, palabras de la persona amada o el buen consejo de un amigo; todo, absolutamente todo lo que nos rodea día a día tiene palabras, gestos o señas. 
        .row.justify-content-center.align-items-center.mt-5
            .col 
                p Mientras la lingüística estudia la lengua y el lenguaje, quién esté pensando aprender o trabajar con una lengua, debe conocer sobre su funcionamiento y es aquí donde la lingüística puede hacer esta tarea más sencilla. El intérprete que conoce el funcionamiento de la lengua de señas puede valerse de diversas herramientas, haciendo de su labor un trabajo más práctico y productivo.

                p La lingüística permite comparar lenguas con el fin de encontrar puntos en común y puntos que las diferencian. Así, se conoce la historia, identidad, evolución y cultura de una comunidad específica; además de cómo se ha desarrollado dentro de una sociedad.
                .jumbotron.bg-3.mb-0.py-4.px-4
                    p.b-left-card.mb-0 #[strong La lingüística permite comparar lenguas con el fin de encontrar puntos en común y puntos que las diferencian. Así, se conoce la historia, identidad, evolución y cultura de una comunidad específica; además de cómo se ha desarrollado dentro de una sociedad.]
            .col-auto 
                img.img-a(src="assets/images/pages/ilustraciones/img24.png").img-fluid 

        .sub-ecored.mt-5#13 
            h2 1.3 Modelos de la lingüística
        p De nuevo la evolución histórica juega un papel importante en la lingüística y en la mirada de los expertos que han basado sus teorías en diferentes modelos para construir sus recursos lingüísticos. La lingüística teórica, por ejemplo, se enfoca en la estructura de las lenguas y en cómo el conocimiento lingüístico de los hablantes puede caracterizarse. Lingüística teórica la comprenden la fonología, la morfología, la sintaxis y la semántica. Busca esquemas teóricos universales que sean aceptables para todas las lenguas del mundo.
        .row.justify-content-center.align-items-center.mt-5
            .col-auto 
                img.img-a(src="assets/images/pages/ilustraciones/img25.png").img-fluid 
            .col
                p.mb-0 La lingüística científica nace en 1916 con el suizo #[strong Ferdinand de Saussure], cuando convierte la lingüística en una ciencia integrada a la semiología que es una disciplina más amplia y que también forma parte de la psicología social. Se hace una distinción entre lengua y habla y tiene como fundamento la definición del signo lingüístico.
        
        .row.justify-content-center.align-items-center.mt-5
            .col-auto 
                img.img-a(src="assets/images/pages/ilustraciones/img25_1.png").img-fluid 
            .col
                p.mb-0 El lingüista, filósofo, politólogo y activista estadounidense #[strong Avram Noam Chomsky] no estudió las lenguas particulares, sino la capacidad del lenguaje. Propuso la gramática generativa, disciplina que situó la sintaxis en el centro de la investigación lingüística. 

        .row.justify-content-center.align-items-center.mt-5
            .col-auto 
                img.img-a(src="assets/images/pages/ilustraciones/img26.png").img-fluid         
            .col
                p.mb-0 Por su parte, #[strong Michael Alexander Halliday], en el año de 1968 desarrolla la teoría sobre la gramática sistémica funcional o lingüística sistémica funcional (SFL, por sus siglas en inglés), en la cual se considera al lenguaje como un sistema de múltiples opciones.  

        h2.text-center.mt-5 Hacia el año de 1972 surge la teoría de la #[mark variación lingüística], en la cual se hace uso de un #[mark elemento lingüístico en lugar de otro] sin que esto implique ningún cambio de significado referencial. La #[mark lingüística cognitiva concibe el lenguaje como un fenómeno] integrado dentro de las capacidades cognitivas humanas y propone unas teorías generales y unos modelos gramaticales para abordar el estudio del lenguaje.
        
        .sub-ecored.mt-5#14 
            h2 1.4 Sociolingüística y enfoques
        .row.justify-content-center.align-items-center.mt-5
            .col
                p.mb-0 Desde el primer uso del término sociolingüística en 1952, sus seguidores han estudiado las lenguas en su contexto social y establecen correlaciones entre el comportamiento lingüístico y el contexto socio-situacional. Aunque aquí se privilegia la perspectiva social, también se determinan las variantes lingüísticas que caracterizan los distintos grupos sociales. Este rasgo es justamente lo que distingue la sociolingüística de la lingüística.         
            .col-auto 
                img.img-a(src="assets/images/pages/ilustraciones/img27.png").img-fluid         

        .row.justify-content-center.align-items-stretch.my-5
            .col-6          
                p.mb-0 En su artículo sobre #[strong “El Congreso de Milán y el efecto dominó en la república argentina”, Burad (2008)], hace referencia a dos enfoques que crean dos formas diferentes de ver y entender a las personas sordas: desde el punto de vista de los oyentes hay un modelo que llaman clínico, médico o patológico, que cimienta sus bases en el imaginario de que el sordo es un ser defectuoso y debe ayudársele para que sea normal, como lo es el oyente. Por lo que la lengua de señas es una desviación de la oralidad. Desde este punto de vista fisiológico se tiene la necesidad de rehabilitar el oído y el habla, desde el campo de la salud y la educación.

            .col-6
                p Por otro lado, está el punto de vista de los sordos, que es el modelo socio cultural o también conocido como sociolingüístico. Este se enfoca en la lengua de señas, independiente de la lengua de los oyentes y con características propias; en la cultura del sordo, en su identidad y en sus valores. Resalta también la vida social de la comunidad sorda, sus luchas y sus necesidades particulares.
                img.img-a(src="assets/images/pages/ilustraciones/img27_1.png").img-fluid                 

        a(href="media/documentos/ANEXO_8_VariedadesDeInterpretacion.pdf" target="_blank").media-link      

            img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

            .media-link-title
                p Ver el artículo de Viviana Burad (2008).                        

        .sub-ecored.mt-5#15 
            h2 1.5 Psicolingüística y modelos
        p La psicolingüística nace gracias a los estudios del lingüista francés Gustave Guillaume (1909). Es una rama de la psicología interesada en descubrir qué mecanismos cognitivos intervienen para producir y comprender el lenguaje, y cómo se adquiere o se pierde dicho lenguaje. Esta disciplina contrasta datos basados en la observación de la conducta real de los hablantes en situaciones diversas.                             

        .row.justify-content-center.align-items-stretch.mt-5.color-1
            .col-12.col-md-6.text-center.jumbotron.bg-4.b-right               
                h2 Lingüística
                .hr-white
                h1 ¿Qué constituye el lenguaje?
                img.mt-3.img-a(src="assets/images/pages/ilustraciones/img29.png").img-fluid 


            .col-12.col-md-6.text-center.jumbotron.bg-5.b-left                
                h2 Psicolingüística
                .hr-white
                h1 ¿Cómo se utiliza el lenguaje?
                img.mt-3.img-a(src="assets/images/pages/ilustraciones/img30.png").img-fluid 

        .jumbotron.bg-3.mt-5
            .row.justify-content-center.align-items-center
                .col-auto
                    img.img-a(src="assets/images/pages/ilustraciones/img31.png").img-fluid 
                .col 
                    p.mb-0 #[strong Los modelos teóricos] se centran en operaciones que tienen que ver con el #[strong procesamiento de la forma de la palabra más que con su significado]. Los modelos cognitivistas analizan la parte funcional del comportamiento lingüístico, es decir, #[strong el lenguaje como estructura cognitiva] y determina los factores que hacen posibles dichos comportamientos: 

        .row.justify-content-center.align-items-center.my-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img32.png").img-fluid 
            .col 
                p.mb-0 #[strong El Modelo de Logogén] fue desarrollado por John Morton entre las décadas de 1960 y 1970. Su unidad básica es el logogén: #[strong un mecanismo que acumula información sensorial proveniente tanto de una fuente visual como auditiva]. Se plantea una diferencia entre el procesamiento de la palabra aislada y el de la palabra en contexto.
        .hr-blue
        .row.justify-content-center.align-items-center.my-5
            .col 
                p.mb-0 #[strong El modelo de búsqueda se apoya en una metáfora bibliotecaria]: las palabras se buscan en la memoria de forma serial, igual que cuando se busca una palabra en el diccionario. Es un #[strong modelo indirecto, serial, autónomo y compuesto por etapas], donde la información fluye de forma unidireccional.         
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img33.png").img-fluid 
        .hr-blue
        .row.justify-content-center.align-items-center.my-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img34.png").img-fluid 
            .col 
                p.mb-0 #[strong El modelo constructivista de Jean Piaget] es utilizado en la psicolingüística y #[strong describe la forma en la que entendemos e interpretamos el mundo que nos rodea] y cómo una misma situación puede tener diferentes lecturas en cada individuo.
        .hr-blue
        .row.justify-content-center.align-items-center.my-5
            .col 
                p.mb-0 #[strong Los modelos conexionistas] son los más influyentes en la actualidad y #[strong se relacionan con el estudio de la cognición, la memoria, la percepción, la atención, los patrones de reconocimiento y el lenguaje]. En este modelo se desarrollan hipótesis de cómo la adquisición del lenguaje se produce por conexiones entre las neuronas. A estas hipótesis se les conoce como conexionismo.        
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img35.png").img-fluid 
        .hr-blue
        .row.justify-content-center.align-items-center.my-5
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img36.png").img-fluid 
            .col 
                p.mb-0 #[sstrong Los modelos neurológicos clásicos] sirven para descubrir con qué parte del cerebro está relacionado el lenguaje. #[strong El lenguaje está representado en múltiples áreas del cerebro], aunque por lo general se diga que es responsabilidad del hemisferio izquierdo.
        .hr-blue
        .row.justify-content-center.align-items-center.my-5
            .col 
                p.mb-0 #[strong El modelo de procesamiento del lenguaje de corriente dual] se compone de una ruta ventral que #[strong analiza el sonido, determina el origen, reconoce la palabra con el léxico disponible], conecta la palabra conceptualmente, le da formato a la palabra y combina elementos para generar estructura y una ruta dorsal, consiste en articular las palabras y traduce la información auditiva a motora.       
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img37.png").img-fluid 

        .sub-ecored.mt-5#16 
            h2 1.6 Psicolingüística aplicada a la LSC y al español   

        .row.justify-content-center.align-items-center
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img36.png").img-fluid 
            .col 
                p.mb-0 A principios del siglo XX el lingüista francés Gustave Guillaume realizó algunos estudios en su teoría del psicosistema donde vinculó elementos lingüísticos y psicológicos, por lo que algunos llamaron a este estudio el Guillaumismo, hoy conocido por su equivalente como la psicolingüística. Esta disciplina estudia cualquier proceso que tenga que ver con la adquisición y procesamiento cognitivo de la información lingüística, es decir, la comunicación del ser humano a través del lenguaje sea oral, escrito, gestual, corporal o manual.  
               

        p.mt-5 A través de la historia muchos lingüistas se han centrado en las lenguas orales. A continuación, se exponen los datos más notables: 

        .jumbotron.bg-6.mt-5 
            .row.justify-content-center
                .col-10
                    .card-media
                        .card-media__body
                            figure.card__figure
                                img(src="assets/images/pages/ilustraciones/img39.png").img-fluid    
                            p.mb-0 El lingüista y neurólogo alemán Lenneberg, quién fue un pionero en las ideas de la adquisición del lenguaje y en 1967 demostró cómo la fisiología humana se adapta al habla, señalando cómo un centenar de músculos producen entre 200 y 500 sílabas por minuto, dándole así más relevancia a la oralidad.

            .row.justify-content-center
                .col-10
                    .card-media
                        .card-media__body
                            figure.card__figure
                                img(src="assets/images/pages/ilustraciones/img40.png").img-fluid    
                            p.mb-0 En la década de 1970, el profesor, autor y conferencista sordo Tom Humphries creó un neologismo en lengua de señas relacionado con la psicolingüística y la situación de las personas sordas: el audismo. Este término parece tener varios significados y usos en la actualidad. 

            .row.justify-content-center
                .col-10
                    .card-media
                        .card-media__body
                            figure.card__figure
                                img(src="assets/images/pages/ilustraciones/img41.png").img-fluid    
                            p.mb-0 Antes de 1980, los académicos que enfatizaban en la psicolingüística afirmaban que el lenguaje humano era de naturaleza sonora, es decir, oral y escrita. Unos años antes, en 1977, Trybus y Karchmer descubrieron que el nivel de vocabulario de los estudiantes sordos tenía un retraso de uno o más años con relación a su nivel de comprensión escrita. También señalaron que su vocabulario puede mejorar si las palabras tienen un solo significado.

            .row.justify-content-center
                .col-10
                    .card-media
                        .card-media__body
                            figure.card__figure
                                img(src="assets/images/pages/ilustraciones/img42.png").img-fluid    
                            p.mb-0 En el año 1994 la neurocientífica cognitiva del desarrollo Laura-Ann Petitto señaló que la lengua de señas tiene la misma condición y características de otras lenguas. Encontró que el cerebro de los niños sordos que son expuestos a la lengua de señas adquiere la lengua y la madurez, y llegan a ser igual a la de los niños oyentes. Más adelante, en el 2001, habló de su estudio sobre el balbuceo manual de los bebés sordos.
            
        p.mt-5 Desde entonces, muchos académicos han defendido la psicolingüística aplicada a la lengua de señas, demostrando cómo el proceso cognitivo de la comunidad sorda se ha visto atropellado con intentos bruscos de oralizarlos y evitar su adquisición lingüística natural así: 
        .row.justify-content-center.my-5
            .col-10
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v4.svg").img-fluid  
                    .list__txt    
                        p.m-top El colombiano  #[mark Lionel Antonio Tovar Macchi]  mencionó en 2001, que “las lenguas de señas de los sordos son lenguas naturales que se diferencian de las lenguas orales solamente en que utilizan el canal de comunicación viso-gestual en lugar del audio-vocal”. 

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v4.svg").img-fluid  
                    .list__txt    
                        p.m-top En el 2003, la doctora argentina  #[mark María Ignacia Massone]  defendió la comunidad sorda mencionando que el oralismo los ha colonizado violentamente tratando de utilizar un modelo ideal de ser humano que estigmatiza y esconde las diferencias haciendo parecer que la lengua de señas es anormal. 

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v4.svg").img-fluid  
                    .list__txt    
                        p.m-top Por su parte, el doctor  #[mark Alejandro Oviedo],  en 2006 argumentó que el oralismo no es otra cosa más que la manifestación de la mentalidad colonialista mundial.

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v4.svg").img-fluid  
                    .list__txt    
                        p.m-top En 2007,  #[mark Carlos Skliar]  mencionó que la discapacidad pone en evidencia que no existe un cuerpo único y normal, una lengua única y normal, un aprendizaje único y normal, un comportamiento único y normal.

                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v4.svg").img-fluid  
                    .list__txt    
                        p.m-top La especialista en docencia universitaria  #[mark Viviana Burad],  en el año 2010, reitera que una imposición lingüística y cultural, para ejercer el control sobre el colectivo sordo y esta forma de relacionarse solo concluye si es que ese otro logra su liberación.                            

        .row.justify-content-center.my-5
            .col-10
                img.img-a(src="assets/images/pages/ilustraciones/img43.png").img-fluid    
                p.my-4 Así es como algunos han manifestado la inconformidad frente a la tendencia general de privilegiar en sus procesos la enseñanza oral, ya que consideran que va en detrimento de su desarrollo cognitivo. Es por eso, que como respuesta a los requerimientos de la comunidad sorda y muchas veces a las preocupaciones de los docentes de esta población con respecto a los logros académicos obtenidos, algunas instituciones educativas implementaron la lengua de señas para acompañar la enseñanza de las lenguas orales, en lo que se conoce como método de comunicación total (por sus siglas, CT) en oposición a las prácticas oralistas, permitiendo una fluidez natural en la adquisición y procesamiento cognitivo de la información lingüística.
                img.img-a(src="assets/images/pages/ilustraciones/img43.png").img-fluid    

