.container
    .header-ecored
        h1 2. Niveles de estudio del español
    .jumbotron.bg-white
        p A continuación, se exponen los niveles de estudio del idioma español: 

        .row.justify-content-center.align-items-stretch.mt-5.jumbotron.border-jumbo.bg-7.px-0.py-0
            .col-12.col-md-6.pt-5
                .sub-ecored#21 
                    h2 2.1 Definición            
                p.mb-0 Es el estudio que se realiza a los sonidos físicos de una lengua desde una perspectiva acústica y fonológica; también el lugar y el modo de cómo se produce; además su clasificación, que se divide en tres principales ramas: fonética articulatoria, fonética acústica y fonética auditiva o perceptiva.
            .col-auto
                img.my-3(src="assets/images/pages/ilustraciones/img46.png").img-fluid 

        .row.justify-content-center.align-items-stretch.mt-5.jumbotron.border-jumbo.bg-7.px-0.py-0
            .col-12.col-md-6.pt-5
                .sub-ecored#22 
                    h2 2.2 Fonología           
                p.mb-0 Se encarga de estudiar los sonidos de una lengua y se enfoca en el cómo se produce dicho sonido, incluye las sílabas, la entonación, la acentuación, etc. 
            .col-auto
                img.my-3(src="assets/images/pages/ilustraciones/img47.png").img-fluid 

        .row.justify-content-center.align-items-stretch.mt-5.jumbotron.border-jumbo.bg-7.px-0.py-0
            .col-12.col-md-6.pt-5
                .sub-ecored#23
                    h2 2.3 Morfología      
                p.mb-0 Esta rama de la Lingüística se enfoca en estudiar las normas que rigen una lengua para determinar la estructura interna de las palabras, sus derivaciones y la creación de nuevos términos.
            .col-auto
                img.my-3(src="assets/images/pages/ilustraciones/img48.png").img-fluid 

        .row.justify-content-center.align-items-stretch.mt-5.jumbotron.border-jumbo.bg-7.px-0.py-0
            .col-12.col-md-6.pt-5
                .sub-ecored#24 
                    h2 2.4 Sintaxis           
                p.mb-0 Es la parte de la gramática que estudia y determina qué reglas dan orden a las palabras dentro de la oración; la relación que hay entre ellas y las funciones que cumplen.
            .col-auto
                img.my-3(src="assets/images/pages/ilustraciones/img49.png").img-fluid 

        .row.justify-content-center.align-items-stretch.mt-5.jumbotron.border-jumbo.bg-7.px-0.py-0
            .col-12.col-md-6.pt-5
                .sub-ecored#25 
                    h2 2.5 Lexicografía            
                p.mb-0 Disciplina aplicada en la lingüística a la producción de diccionarios. Teniendo en cuenta qué principios teóricos y metodológicos, además de los propios, intervienen en dicha elaboración.
            .col-auto
                img.my-3(src="assets/images/pages/ilustraciones/img50.png").img-fluid 

        .row.justify-content-center.align-items-stretch.mt-5.jumbotron.border-jumbo.bg-7.px-0.py-0
            .col-12.col-md-6.pt-5
                .sub-ecored#26 
                    h2 2.6 Semántica         
                p.mb-0 El término semántica involucra el estudio del significado de las expresiones lingüísticas en la sintaxis, dando interpretación a las palabras, los símbolos y las representaciones formales.
            .col-auto
                img.my-3(src="assets/images/pages/ilustraciones/img51.png").img-fluid 