.container
    .header-ecored
        h1 4. Desarrollo de habilidades comunicativas
    .jumbotron.bg-white
        .sub-ecored#41
            h2 4.1 Conceptos
        h3.mt-5 4.1.1 Competencia comunicativa         

        .jumbotron.bg-color3
            img.img-a.mt-5(src="assets/images/pages/ilustraciones/img58.png").img-fluid 

        p.mt-5 La competencia comunicativa es la capacidad que tiene un individuo para comportarse en una comunidad de habla, lo que implica acatar las reglas gramaticales, otros niveles de la descripción lingüística (léxico, fonética, semántica) y las normas de uso de la lengua, relacionadas con el contexto sociohistórico y cultural en el que tiene lugar la comunicación.

        .row.justify-content-center.align-items-center.mt-5
            .col-auto 
                img.img-a(src="assets/images/pages/ilustraciones/img59.png").img-fluid 
            .col
                p.mb-0 Hymes (1971), define a la competencia comunicativa como la capacidad de saber “cuándo hablar, cuándo no, y de qué hablar, con quién, cuándo, dónde, en qué forma”; por lo que además de ser la capacidad de pronunciar enunciados gramaticalmente correctos, es la habilidad de hacerlo de tal forma que socialmente sean apropiados. Para ello, propone cuatro criterios que permiten la descripción de los diversos modos de comunicación, y que al aplicarlos a una manifestación comunicativa específica establece si esta es: 

        .jumbotron.bg-9.mt-5
            .row.justify-content-center
                .col-11
                    .card-media.card-media-color
                        .card-media__body
                            figure.card__figure
                                img(src="assets/images/pages/ilustraciones/img60.png").img-fluid    
                            p.mb-0 #[strong Formalmente posible:] (y en qué medida lo es), emitida siguiendo unas reglas, tanto con la gramática como con la cultura de la comunidad de habla.                 

            .row.justify-content-center
                .col-11
                    .card-media.card-media-color
                        .card-media__body
                            figure.card__figure
                                img(src="assets/images/pages/ilustraciones/img60.png").img-fluid    
                            p.mb-0 #[strong Factible:] (y en qué medida lo es), las condiciones normales de una persona (en cuanto a memoria, percepción, etc.) permiten emitirla, recibirla y procesarla satisfactoriamente.                            

            .row.justify-content-center
                .col-11
                    .card-media.card-media-color
                        .card-media__body
                            figure.card__figure
                                img(src="assets/images/pages/ilustraciones/img60.png").img-fluid    
                            p.mb-0 #[strong Apropiada:] (y en qué medida lo es), se adecua a las variables que pueden darse en las distintas situaciones de comunicación.

            .row.justify-content-center
                .col-11
                    .card-media.card-media-color
                        .card-media__body
                            figure.card__figure
                                img(src="assets/images/pages/ilustraciones/img60.png").img-fluid    
                            p.mb-0 #[strong Dada en la realidad:] (y en qué medida se da), resulta posible formalmente, factible y apropiada y es usada por los miembros de la comunidad de habla; porque algo posible, factible y apropiado puede no llegar a ocurrir.

        p.mt-5 De acuerdo con #[strong la Ley 324 de 1996], por medio de la cual se por la cual se crean algunas normas a favor de la Población Sorda, se aclara que, desde el lenguaje de señas, las habilidades comunicativas del intérprete para sordos, se da en los amplios #[strong conocimientos de la Lengua Manual Colombiana que le permiten a realizar la interpretación simultánea del español] hablado en la Lengua Manual y viceversa. En el entendido de que también son intérpretes para sordos aquellas personas que realicen la interpretación simultánea del castellano hablado a otras formas de comunicación de la población sorda, distintas a la Lengua Manual, y viceversa. También de que ese auspicio estatal no excluye el apoyo estatal a la investigación, la enseñanza y la difusión de otras formas de comunicación de la población sorda, como la oralidad.  

        
        .row.justify-content-center.mt-5
            .col-auto 
                img.img-a.j-right(src="assets/images/pages/ilustraciones/img61.png").img-fluid 
            .col.jumbotron.bg-10.mt-5.jumbo-border-sup
                p.mb-0 Desde que se sancionó también la #[strong Ley 982 de 2005], se reconoció #[strong la LSC como lengua natural de los sordos, y la interpretación de Lengua de Señas Colombiana como un servicio inherente a los derechos] de acceso a la información de las personas sordas. Esto ha llevado a la necesidad de construir diferentes propuestas en torno a programas de formación de intérpretes, e instrumentos de cualificación, evaluación y acreditación de estos.          

        h3.mt-5 4.1.2 Comunicación

        .jumbotron.bg-color4
            .row.justify-content-center.align-items-center
                .col-auto 
                    img.img-a(src="assets/images/pages/ilustraciones/img62.png").img-fluid 
                .col
                    p.mb-0 #[strong La Ley 324 de 1996] declara que “la comunicación es un proceso social en el cual es necesario como mínimo que haya dos personas en situación de interrelación de ideas o mensajes, un emisor o locutor y un receptor. #[mark #[strong Para que la comunicación se produzca es necesario que exista entre los interlocutores motivación para transmitir y recibir]]. Es preciso que haya intervenido explícita o implícitamente, un acuerdo entre los interlocutores respecto de la utilización de un código que permita la organización de los mensajes transmitidos tomando un medio o canal de comunicación determinado”. 

        .row.justify-content-center.align-items-center
            .col-auto 
                img.img-a(src="assets/images/pages/ilustraciones/img63.png").img-fluid 
            .col
                p.mb-5 A partir de la Ley 324 de 1996 se deja entrever que la comunicación, parte de un proceso de cognición que involucra un conjunto de operaciones mentales o procesos como la transmisión, el análisis, la organización, la transformación, la elaboración, el archivo, la recuperación y el uso de información contenida en señales de entrada y salida de diferente naturaleza; desde lo cual se define:                     
               
                a(href="media/documentos/ANEXO_11_Decreto_770_de_1982.pdf" target="_blank").media-link      

                    img(src="assets/images/pages/ilustraciones/pdf.svg", alt="").media-link-icon

                    .media-link-title
                        p Ley 324 de1996. 

        h3.mt-5 4.1.3 Lenguaje

        p Lenguaje y cerebro, guardan una relación funcional incuestionable. #[strong El pensamiento se expresa mediante el lenguaje, la capacidad de expresar ideas, emociones y sentimientos] con las palabras es una realidad que nos diferencia de los animales. A continuación, se expone la tipificación, funciones y niveles del lenguaje:    

        table.table.mt-5 
            tbody.table-title.text-center
                td(Colspan='2') Tipos de lenguaje
                    
            tbody 
                tr 
                    td.table-content-1.py-4.px-4 Mímico
                    td.table-content-1.py-4.px-4.table-border-left Nombrado también gesticular, funciona por medio de señas.

                tr 
                    td.table-content-2.py-4.px-4 Gutural
                    td.table-content-2.py-4.px-4.table-border-left Llamado también “onomatopéyico” o “sonidos desarticulados” que significa imitación de sonidos.                   

        table.table.mt-5 
            tbody.table-title.text-center
                td(Colspan='2') Funciones del lenguaje
                    
            tbody 
                tr 
                    td.table-content-1.py-4.px-4 Representativa
                    td.table-content-1.py-4.px-4.table-border-left Función específicamente humana que se utiliza para hacer afirmaciones o plantear preguntas.

                tr 
                    td.table-content-2.py-4.px-4 Conativa
                    td.table-content-2.py-4.px-4.table-border-left El hablante trata de hablar sobre el oyente de manera influyente sobre su conducta o llamando la atención.  

                tr 
                    td.table-content-1.py-4.px-4 Emotiva o expresiva
                    td.table-content-1.py-4.px-4.table-border-left Se utiliza para expresar sentimientos o emociones.

                tr 
                    td.table-content-2.py-4.px-4 Poética
                    td.table-content-2.py-4.px-4.table-border-left Se utiliza para limar la atención del receptor sobre el mensaje y crear belleza con las palabras.  

                tr 
                    td.table-content-1.py-4.px-4 Fática
                    td.table-content-1.py-4.px-4.table-border-left Se utiliza para asegurar que el circuito de la comunicación está intacto.

                tr 
                    td.table-content-2.py-4.px-4 Metalingüística
                    td.table-content-2.py-4.px-4.table-border-left Actúa cuando utilizamos el lenguaje, sus códigos, reglas y componentes.

        table.table.mt-5 
            tbody.table-title.text-center
                td(Colspan='2') Niveles del lenguaje
                    
            tbody 
                tr 
                    td.table-content-1.py-4.px-4 Vulgar
                    td.table-content-1.py-4.px-4.table-border-left Utilizado por grupos de baja escolaridad, presenta errores idiomáticos, expresiones fuertes, pobreza lexical, oraciones breves y sentido incompleto.

                tr 
                    td.table-content-2.py-4.px-4 Coloquial
                    td.table-content-2.py-4.px-4.table-border-left Empleado de manera cotidiana y familiar, es espontáneo, además de la presencia de un matiz afectivo y de cercanía. 

                tr 
                    td.table-content-1.py-4.px-4 Convencional o estándar
                    td.table-content-1.py-4.px-4.table-border-left Intercambio de una comunidad lingüística, formal y su codificación es rígida.

                tr 
                    td.table-content-2.py-4.px-4 Técnico
                    td.table-content-2.py-4.px-4.table-border-left Convenciones lingüísticas propias de cada profesión, disciplina o campo de estudio.                    

                tr 
                    td.table-content-1.py-4.px-4 Formal
                    td.table-content-1.py-4.px-4.table-border-left Indica distancia entre los interlocutores se caracteriza por la ausencia de familiaridad en el trato.                   

        h3.mt-5 4.1.4 Lengua                    
        
        p Es un #[strong sistema de signos lingüísticos, conformado en la interacción comunicativa.] De esta manera se encuentra la compresión de la comunicación como producción, circulación y apropiación de sentidos.

        h3.mt-5 4.1.5 Lengua de señas         
        
        p Para la lengua de señas, desde la ley 324 de 1996, se define #[strong la Lengua Manual Colombiana como la que se expresa en la modalidad viso-manual.] Es el código cuyo medio es el visual más que el auditivo. Como cualquiera otra lengua tiene su propio vocabulario, expresiones idiomáticas, gramáticas, sintaxis diferentes del español.

        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-6.jumbotron.bg-white
                p Los elementos de esta lengua (las señas individuales) son la configuración, la posición y la orientación de las manos en relación con el cuerpo y con el individuo, la lengua también utiliza el espacio, dirección y velocidad de movimientos, así como la expresión facial para ayudar a transmitir el significado del mensaje, esta es una lengua visogestual.
                img.my-2.img-a(src="assets/images/pages/ilustraciones/img64.png").img-fluid 


            .col-12.col-md-6.jumbotron.bg-11.jumbo.border-right             
                p.mb-0 La Lengua de Señas Colombiana (LSC) #[strong no solo es una lengua polimorfémica, sino también monosilábica]. Barreto (2015), explica que la LSC tiene segmentos homologables a los consonánticos y a los vocálicos, llamados segmentos posturales y segmentos de transformación llamados así por Johnson & Liddell (2011). La lengua de señas tiene segmentos similares, aunque no idénticos a los consonánticos y vocálicos que podrían ser homologables de una lengua hablada.       

        h3.mt-5 4.1.6 Habla                 
        
        p Es la realización de una lengua, es decir, el #[strong acto individual por medio del cual una persona hace uso de una lengua para poder comunicarse], elaborando un mensaje según las reglas y convenciones gramaticales que comparte con una comunidad lingüística determinada.

        .row.justify-content-center.align-items-center.mt-5
            .col-9.jumbotron.bg-9.jumbo.border
                p.mb-0 Para Giraldo (2016), #[strong las palabras, como manifestación de la actividad simbólica del hombre, nacen de la voluntad de representar las cosas, las ideas y los hechos mediante sonidos y signos] que son sus representaciones. Cualquiera que sea la interpretación de la lengua: metafísica, biológica o lingüística, siempre se inscribe en un proceso creativo del lenguaje y, por consiguiente, neológico.        

        h3.mt-5 4.1.7 Signo lingüístico   

        p Para la lengua de señas, desde la ley 324 de 1996, se define la Lengua Manual Colombiana como la que se expresa en la modalidad viso-manual. Es el código cuyo medio es el visual más que el auditivo. Como cualquiera otra lengua tiene su propio vocabulario, expresiones idiomáticas, gramáticas, sintaxis diferentes del español             

        .row.justify-content-center.align-items-center.mt-5
            .col-auto 
                img.my-2.img-a(src="assets/images/pages/ilustraciones/img66.png").img-fluid 

            .col 
                h2.color-2 Los elementos de esta lengua (las señas individuales) son la configuración, la posición y la orientación de las manos en relación con el cuerpo y con el individuo, la lengua también utiliza el espacio, dirección y velocidad de movimientos, así como la expresión facial para ayudar a transmitir el significado del mensaje, esta es una lengua visogestual.

                p La Lengua de Señas Colombiana (LSC) no solo es una lengua polimorfémica, sino también monosilábica. Barreto (2015), explica que la LSC tiene segmentos homologables a los consonánticos y a los vocálicos, llamados segmentos posturales y segmentos de transformación llamados así por Johnson & Liddell (2011). La lengua de señas tiene segmentos similares, aunque no idénticos a los consonánticos y vocálicos que podrían ser homologables de una lengua hablada.

        h3.mt-5 4.1.8 Campo de estudio                 

        p El campo de estudio abarca las siguientes disciplinas: 

        .row.reverse.mt-5 
            .col-9
                p #[mark #[strong Filosofía:]]  son diversas áreas de esta disciplina que se ven involucradas en el desarrollo de las ciencias cognitivas: la filosofía de la mente, de la ciencia y del lenguaje; la lógica formal y filosófica; la metafísica y la epistemología. 

                p #[mark #[strong Psicología:]]  como ciencia de la representación y el procesamiento de la información de los seres vivos, forma parte de la psicología cognitiva. 

                p #[mark #[strong Entre las subdivisiones de la psicología que tienen implicaciones directas con la ciencia cognitiva están:]]  psicología cognitiva que se ocupa en las representaciones y el procesamiento de la información; psicología evolutiva, que se ocupa del desarrollo del proceso cognitiva; psicología social en el área de cognición social que tiene que ver cómo los individuos entienden las mentes y las emociones de los demás. 

                p #[mark #[strong Inteligencia artificial:]]  en la cual existen dos versiones complementarias que tienen acercamientos importantes con la cognición como ciencia empírica que se interesa por la simulación computacional de la inteligencia humana. 

                p #[mark #[strong Lingüística y el lenguaje:]]   son disciplinas consideradas piedra angular de la ciencia cognitiva, no solo desde el estudio de la estructura, el significado y el uso del lenguaje, sino de éste en sí mismo como vehículo del pensamiento. 

                p #[mark #[strong Neurociencias (neurolingüística):]]  reunión de la biología y la lingüística en un esfuerzo por discernir los procesos del orden neurofisiológico que están en la base del lenguaje.

                p #[mark #[strong Psicolingüística:]]  trata de esclarecer los procesos de orden psíquico que median la producción lingüística. 

                p #[mark #[strong Sociolingüística:]]  examina la relación entre lenguaje y sociedad.            

        .sub-ecored.mt-5#42 
            h2  4.2 Técnicas de comunicación en la expresión del discurso
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/KIiTOl-RFb0', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                            

        .sub-ecored.mt-5#43 
            h2 4.3 Métodos nemotécnicos, de atención y concentración              

        .row.justify-content-center.align-items-center.mt-5
            .col-auto.jumbotron.bg-white  
                img.my-3.img-a(src="assets/images/pages/ilustraciones/img67.png").img-fluid 


            .col.jumbotron.bg-12.b-left
                p Un método o regla mnemotécnica es un sistema sencillo utilizado para recordar una secuencia de datos, nombres, números, y en general para recordar listas de datos relacionando palabras, imágenes, etc.
                p Memorizar un mismo material para quien piensa en conceptos, es decir, con ayuda del análisis abstracto, es distinto, aunque semejante al memorizar de quien lo hace en complejos (mediante relaciones concretas).
                p Mediante una revisión en diferentes teorías sobre la estructura y la funcionalidad de la memoria, Lieury (1985) propone una clasificación de los procedimientos mnemotécnicos en tres grandes categorías: códigos, índices de recuerdo y planes de recuerdo.

        h3.mt-5 4.3.1 Categoría códigos    

        p Esta categoría involucra la retención de la información y la agrupación con el objetivo de disminuir el número de elementos a retener. Comprende diferentes formas de utilización de códigos:             

        .row.justify-content-center.align-items-stretch.mt-5
            .col-12.col-md-3.jumbotron.bg-13.mx-2.pt-0 
                img.my-3.img-a(src="assets/images/pages/ilustraciones/img68.png").img-fluid
                p.mb-0.text-center Código verbal, el cual se refiere a la integración de sílabas (en una sigla o una palabra), o a la integración misma de palabras.  

            .col-12.col-md-3.jumbotron.bg-13.mx-2.pt-0 
                img.my-3.img-a(src="assets/images/pages/ilustraciones/img69.png").img-fluid
                p.mb-0.text-center Código de imágenes, en el que los dibujos de objetos son más fáciles de recordar puesto que sufren una doble codificación.  

            .col-12.col-md-3.jumbotron.bg-13.mx-2.pt-0 
                img.my-3.img-a(src="assets/images/pages/ilustraciones/img70.png").img-fluid
                p.mb-0.text-center Código de cifra-letra, el cual consiste en transformar las cifras de un número (p. ej. número telefónico) en letras para formar una o varias palabras.  

        h3.mt-5 4.3.2 Categoría índice de recuerdo o recuperación

        p En esta categoría, las combinaciones de información permiten recobrar un conjunto estructurado ya almacenado en la memoria. La memoria a corto plazo almacena información morfológica, fonológica y sintáctica, mientras que #[strong la memoria a largo plazo almacena la información de tipo semántico.]                
        .row.justify-content-center.align-items-center.mt-5
            .col 
                p La dimensión fonética juega un papel importante en la memoria a corto plazo, mientras que la dimensión semántica en la memoria a largo plazo ya que aquí la codificación suele ser más completa. Desde el punto de vista funcional, #[strong es difícil diferenciar estos dos tipos de memoria, ya que en la memoria a largo plazo se puede almacenar información de estructura superficial] (un texto oral dicho por otro, la letra de una canción, etc.) igual que en la memoria a corto plazo. Inversamente, se puede suponer que hay informaciones semánticas disponibles en la memoria a corto plazo o por lo menos por un breve espacio de tiempo. 
            .col-auto
                img.my-3.img-a(src="assets/images/pages/ilustraciones/img71.png").img-fluid

        h3.mt-5 4.3.3 Categoría planes de recuerdo 

        p Se refiere a la creación de vínculos entre los elementos a recordar cuando existe gran cantidad de información. Los planes de recuerdo se clasifican en: 
        .jumbotron.bg-6.mt-5 
            .row.justify-content-center
                .col-10
                    .card-media
                        .card-media__body
                            figure.card__figure
                                img(src="assets/images/pages/ilustraciones/img72.png").img-fluid    
                            p.mb-0 #[strong Planes basados en la imagen:] en informaciones concretas y simultáneas de elementos generales se elabora una representación organizada de éstos, por medio de un esquema. Este método permite aprender una lista de elementos en orden.

            .row.justify-content-center
                .col-10
                    .card-media
                        .card-media__body
                            figure.card__figure
                                img(src="assets/images/pages/ilustraciones/img72.png").img-fluid    
                            p.mb-0 #[strong Planes basados en el lenguaje:] en la memorización de listas de palabras, o las principales palabras de un texto, se pueden formar palabras, frases o historias uniendo las letras iniciales de tales listas. La eficacia de estos planes basados en el lenguaje depende en último término, del grado de conexión semántica.  

            .row.justify-content-center
                .col-10
                    .card-media
                        .card-media__body
                            figure.card__figure
                                img(src="assets/images/pages/ilustraciones/img72.png").img-fluid    
                            p.mb-0 #[strong Planes basados en la lógica:] en el curso de cualquier aprendizaje se utilizan operaciones lógicas. El adulto usa a menudo tres tipos de organización lógica: categorización, clasificación jerárquica y matrices. 

            .row.justify-content-center
                .col-10
                    .card-media
                        .card-media__body
                            figure.card__figure
                                img(src="assets/images/pages/ilustraciones/img72.png").img-fluid    
                            p.mb-0 #[strong Planes basados en el código cifra-letra:] en la memorización de palabras, frases y secuencias grandes de números se emplean fórmulas derivadas de la codificación de secuencias de cifras; (e) Tablas de recuerdo: en la memorización de listas de palabras y de números, los índices de recuerdo numéricos permiten añadir palabras nuevas y codificar su posición numérica en la lista.

        p En concreto, la clave de la memorización es la organización de la información utilizando estrategias mnemotécnicas de codificación, de índices, de planes de recuerdo, que permiten retener la información por un tiempo prolongado.

        h3.mt-5 4.3.4 Métodos de atención y concentración        

        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                img.my-3.img-a(src="assets/images/pages/ilustraciones/img73.png").img-fluid             
            .col 
                p El concepto metacognición hace referencia a #[strong la capacidad del ser humano para evaluar su propio proceso de aprendizaje con el propósito de hacerlo más consciente y eficiente], lo que hoy se resume con el lema de aprender a aprender. Para Ayala y Yuste (2005), consideran que actuar de forma metacognitiva, repercutirá en la capacidad para planificar, seleccionar estrategias y evaluar proceso de aprendizaje propio en diferentes contextos.  

                p Existen diferentes tipos de atención, que van desde procesos internos hasta aquellos externos que suceden alrededor; otros tienen que ver con aquellos voluntarios o aquellos que se realizan en forma involuntaria, por ejemplo, #[strong como cuando reaccionamos sin pensarlo frente a un ruido fuerte o una impresión visual no esperada.] 
           
        .row.justify-content-center.align-items-stretch.mt-5
            .col-9.text-center
                h2.mb-0.text-normal El proceso de atención moviliza una gran cantidad de recursos cognitivos que llevan un aprendizaje a partir de los objetivos y forma de aprender. #[mark Para estimular la atención y la concentración se debe activar inicialmente el estímulo], además de considerar todos los elementos físicos y también emocionales que pueden estar interviniendo en el momento específico. #[mark El proceso de atención moviliza una gran cantidad de recursos cognitivos] que llevan aún aprendizaje a partir de los objetivos y forma de aprender.
                h2.text-normal Caamaño (2018).            

        h3.mt-5 4.3.5 Técnicas de expresión del discurso  

        p En el discurso en LSC se han estudiado fenómenos específicos. Algunas de las categorías más nombradas son:               

        .row.justify-content-center.align-items-center.mt-5
            .col-9.jumbotron.bg-9
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Espacios mentales sucedáneos (aplicados a las lenguas señadas).
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Boyas (bouys).
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Sectores simbólicos (tokens).
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Verbos descriptivos (depicting verbs).
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Concordancia verbal (verb agreement).
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Cambios del cuerpo (body shifting). 
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Diálogo y la acción construida (DCAC, por sus siglas en inglés).    
        
        p Gran parte de la dispersión conceptual en torno a los elementos discursivos de las lenguas señadas se debe a la compleja interacción mencionada anteriormente entre el gesto y los elementos fonológicos. 

        .jumbotron.bg-14.mt-5 
            h2 Depicting 
            p Es una técnica en la que se agrupan las principales categorías de elementos discursivos de las lenguas señadas a las estrechamente relacionadas con las tradicionales coherencia y cohesión. A continuación, el esquema de esta categoría:       

            table.table.text-center.mt-5 
                tbody.table-title
                    <td Colspan="3"> Depicting
                        
                tbody 
                    tr 
                        td.table-content-1.py-4.px-4.text-bold Abstractos
                        td.table-content-1.py-4.px-4.table-border-left A escala (Scale-Down)
                        td.table-content-1.py-4.px-4.table-border-left A tamaño real (Life-sized)


                    tr 
                        td.table-content-2.py-4.px-4.text-bold Tokens, Plano calendario, Línea de tiempo
                        td.table-content-2.py-4.px-4.table-border-left Verbos con clasificador 
                        td.table-content-2.py-4.px-4.table-border-left De punto panorámico, De cuerpo estático, De cuerpo dinámico             

            h2.mt-5 Depictions abstractos: 
            p Son aquellas representaciones visuales que simbolizan el espacio con información lingüística en formas particulares: como una línea imaginaria de tiempo horizontal, como un plano calendario (x, y) frente al señante o como sectores determinados (tokens). Los tokens son sectores del espacio frente al señante que codifican contenido lingüístico específico con miras a la cohesión textual.  
            h2 Los depitctions a escala:  
            p Incluyen una amplia cantidad de señas que representan visualmente entidades, incorporando gran cantidad de información sobre la forma de estas, los movimientos y la disposición topológica general de la ‘escena’ interpretada en el enunciado. Barreto, A. y Cortés, Y. (2014).
            h2 Depictions a tamaño real:  
            p La LSC tiene la posibilidad de incorporar representaciones en el discurso utilizando el cuerpo: el rostro y la inclinación-rotación del torso (|cuerpo| dinámico), alguna locación específica del cuerpo como territorio (|cuerpo| estático), y el cuerpo como punto de observación panorámica (vantage point).