.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Audismo:
            | “La discriminación negativa o arbitraria o la marginación sufrida por las personas sordas a lo largo de la historia hasta la actualidad”. Humphries (1970).
        
        p
            strong.mr-2 Bilingüismo:
            | se define como la capacidad de desarrollar algún nivel de competencia (hablar, leer, entender, escribir) en una segunda lengua.

        p
            strong.mr-2 Fonética:
            | es el estudio que se realiza a los sonidos físicos de una lengua desde una perspectiva acústica y fonológica; también el lugar y el modo de cómo se produce; además su clasificación, que se divide en tres principales ramas: fonética articulatoria, fonética acústica y fonética auditiva o perceptiva.
        
        p
            strong.mr-2 Lengua:
            | la lengua es un sistema de signos lingüísticos, conformado en la interacción comunicativa y cuyo fin es la comunicación misma. Como sistema de signos, estos conforman un conjunto de oposiciones funcionales, que son constantes y que subyacen a la materialidad fónica.

        p
            strong.mr-2 Lengua de señas:
            | la lengua de señas o lengua de signos es una lengua natural de expresión y configuración gesto-espacial y percepción visual,  gracias a la cual, los sordos pueden establecer un canal de comunicación.
        
        p
            strong.mr-2 Lenguaje:
            | un lenguaje es un sistema de comunicación estructurado para el que existe un contexto de uso y ciertos principios combinatorios formales. 

        p
            strong.mr-2 Lingüística:
            | disciplina científica que investiga el origen, la evolución y las estructuras fundamentales del lenguaje.
        
        p
            strong.mr-2 Metacognición:
            | hace referencia a la capacidad del ser humano para evaluar su propio proceso de aprendizaje con el propósito de hacerlo más consciente y eficiente.

        p
            strong.mr-2 Mnemotecnia:
            | deriva del griego mnéemee (memoria), y téchnee (arte). Una regla mnemotécnica es un sistema sencillo utilizado para recordar una secuencia de datos, nombres, números, y en general para recordar listas de datos relacionando palabras, imágenes, etc.
        
        p
            strong.mr-2 Psicolingüística:
            | rama de la psicología interesada en descubrir qué mecanismos cognitivos intervienen para producir y comprender el lenguaje, y cómo se adquiere o se pierde dicho lenguaje.

        p
            strong.mr-2 Signo lingüístico:
            | es una construcción social que funciona dentro de un sistema lingüístico y que pone un elemento en lugar de otro.
        
        p
            strong.mr-2 Sociolingüística:
            |  estudio de las lenguas en su contexto social. Establece correlaciones entre el comportamiento lingüístico y el contexto socio-situacional.