.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Burad, V. (2010). Alteridad sorda.    
                    
                    td Artículo
                    td 
                        a(href="https://culturasorda.org/alteridad-sorda", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> PDF

                tr
                    td Burad, V. (2008). El Congreso de Milán y su efecto dominó en la República Argentina. Aproximación a algunos hechos relacionados con la comunidad sorda argentina.
                    
                    td Artículo
                    td 
                        a(href="http://www. cultura-sorda. org/wpcontent/uploads/2015/03/Burad_V_Congreso_Milan_efecto_domino_Arge ntina_20081.pdf.", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> PDF                        

                tr
                    td Herrera, V., Puente, A., ALVARADO, J., & Ardila, A. (2010). Códigos de lectura en sordos: la dactilología y otras estrategias visuales y kinestésicas.  
                    
                    td Artículo
                    td 
                        a(href="media/documentos/Anexo_3_Burad.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> PDF

                tr
                    td Oviedo, A. Pierre Desloges y sus “Observaciones…” de 1779. 
                    
                    td Artículo
                    td 
                        a(href="https://culturasorda. org/alteridad-sorda", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> PDF   

                tr
                    td Hervás, L. (1795). Escuela española de sordomudos, o arte para enseñarles a escribir y hablar el idioma español (Vol. 2). Imprenta Real.
                    
                    td Ley
                    td 
                        a(href="media/documentos/Anexo_7_Escuela_espanola_de_sordomudos.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> PDF

                tr
                    td Martínez, R. A. (2017). Semántica y morfosintaxis del adjetivo en la Lengua de Señas Argentina desde un enfoque cognitivo. Lengua y Habla, (21), 151-174.
                    
                    td Artículo
                    td 
                        a(href="media/documentos/Anexo_10_LenguaDeSenasArgentina.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> PDF   

                tr
                    td Ley 324 de 1996. Por la cual se crean algunas normas a favor de la Población Sorda. 11 de octubre de 1996. D.O. 42899.
                    
                    td Artículo
                    td 
                        a(href="media/documentos/Anexo_11_Ley_324_1996.pdf", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> PDF