include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Aguilar-Morales, J. E., & Vargas-Mendoza, J. E. (2010). Comunicación asertiva. Network de Psicología Organizacional. México: Asociación Oaxaqueña de Psicología AC.", " ")

        +referenciaItem("Ayala, C y Yuste, C. (2005).  Programa para la estimulación de las habilidades de la inteligencia. CEPE", " ")

        +referenciaItem("Barreto Muñoz, A. G. (2015). Fundarvid: una contextualización de sus neologismos en la lengua de señas colombiana. Antropología.", " ")

        +referenciaItem("Burad, V. (2010). Alteridad sorda.  ", "https://culturasorda.org/alteridad-sorda")

        +referenciaItem("Burad, V. (2008). El Congreso de Milán y su efecto dominó en la República Argentina. Aproximación a algunos hechos relacionados con la comunidad sorda argentina. ", "http://www. cultura-sorda.org/wpcontent/uploads/2015/03/Burad_V_Congreso_Milan_efecto_domino_Argentina_20081.pdf.")

        +referenciaItem("Caamaño, C. (2018). Claves para potenciar la atención/Concentración. Chile: Universidad de Chile.", " ")

        +referenciaItem("Giraldo, J. J. (2016). La neología: indicador de la vitalidad de una lengua y su cultura. Revista Interamericana de Bibliotecología, 39(1), 39-46.", " ")

        +referenciaItem("Hervás, L. (1795). Escuela española de sordomudos, o arte para enseñarles a escribir y hablar el idioma español (Vol. 2). Imprenta Real.", " ")

        +referenciaItem("Herrera, V., Puente, A., A, J., & Ardila, A. (2010). Códigos de lectura en sordos: la dactilología y otras estrategias visuales y kinestésicas. ", " ")

        +referenciaItem("Hymes, D. (1972). Competencia comunicativa. Editorial Pride and Holmes, 42.", " ")

        +referenciaItem("Johnson, R. E., & Liddell, S. K. (2016). Hacia una representación fonética de las señas: secuencialidad y contraste. Forma y Función, 29(2), 247-279.", " ")

        +referenciaItem("Ley 324 de 1996. Por la cual se crean algunas normas a favor de la Población Sorda. 11 de octubre de 1996. D.O. 42899.", " ")

        +referenciaItem("Ley 982 de 2005. Por la cual se establecen normas tendientes a la equiparación de oportunidades para las personas sordas y sordociegas y se dictan otras disposiciones. 2 de agosto de 2005. D.O. 45995", " ")

        +referenciaItem("Lieury, A. (1985). Los métodos mnemotécnicos ¿ciencia o charlatanería? Herder.", " ")

        +referenciaItem("Martínez, R. A. (2017). Semántica y morfosintaxis del adjetivo en la Lengua de Señas Argentina desde un enfoque cognitivo. Lengua y Habla, (21), 151-174.", " ")

        +referenciaItem("Oviedo, A. Pierre Desloges y sus “Observaciones…” de 1779. ", "https://culturasorda.org/alteridad-sorda")           
        
        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            